---
# handlers file for sanitize_armbian_defaults

## needs ot restart, but im afraid.. will figure out later
- name: restart sshd
  service:
    name: sshd
    state: restarted
  tags: ["harden", "ssh"]

- name: reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes

- name: restart irqbalance service
  ansible.builtin.systemd:
    name: irqbalance.service
    state: restarted
