---
- name: install optimization packages
  apt:
    name: "{{ optimization_packages }}"
    state: present
  vars:
    optimization_packages:
      - irqbalance
  tags:
    - irqbalance

# new systemd quirk disables access to kernel tunables by default
- name: Ensure irqbalance override directory exists
  ansible.builtin.file:
    path: /etc/systemd/system/irqbalance.service.d
    state: directory
    mode: "0755"
  tags:
    - irqbalance

- name: irqbalance override disable ProtectKernelTunables
  ansible.builtin.ini_file:
    path: /etc/systemd/system/irqbalance.service.d/override.conf
    section: Service
    option: ProtectKernelTunables
    value: no
    mode: "0644"
    create: yes
  notify:
    - reload systemd daemon
    - restart irqbalance service
  tags:
    - irqbalance
