---
# defaults file for creature_comforts

comforts_packages_deps:
  - jq
  - bat
  - ripgrep

comforts_packages_bandwith:
  - vnstat
  - bmon
  - iftop

comforts_packages_network_utils:
  - dnsutils
  - mtr-tiny
  - gping

comforts_packages_misc:
  - btop

comforts_packages_podman:
  - podman
  # for rootless execution
  - uidmap
  - passt

comforts_packages_all: "{{ comforts_packages_deps + comforts_packages_bandwith + comforts_packages_network_utils + comforts_packages_misc }}"

comforts_use_podman: false

comforts_scripts_install_dir: /usr/local/bin

comforts_scripts_dhcp:
  - clammy_leases.sh

comforts_scripts_podman_apps:
  - rustnet_wrapper.sh

comforts_scripts_all: "{{ comforts_scripts_dhcp + comforts_scripts_podman_apps }}"

comforts_podman_bridge_name: "clammy_podman0"
comforts_podman_address_summarized: "172.30.0.1/24"
comforts_podman_subnet: "{{ comforts_podman_address_summarized | ansible.utils.ipsubnet }}"
comforts_podman_gateway: "{{ comforts_podman_address_summarized | ansible.utils.ipaddr('address') }}"
