foomuuri {
  log_rate "{{ foomuuri_config_log_rate }}"
  log_input {{ foomuuri_config_log_input }}
  log_output {{ foomuuri_config_log_output }}
  log_forward {{ foomuuri_config_log_forward }}
  log_rpfilter {{ foomuuri_config_log_rpfilter }}
  log_invalid {{ foomuuri_config_log_invalid }}
  log_smurfs {{ foomuuri_config_log_smurfs }}
  log_level "{{ foomuuri_config_log_level }}"
  localhost_zone {{ foomuuri_config_localhost_zone }}
  dbus_zone {{ foomuuri_config_dbus_zone }}
  rpfilter {{ foomuuri_config_rpfilter }}
  counter {{ foomuuri_config_counter }}
  set_size {{ foomuuri_config_set_size }}
  recursion_limit {{ foomuuri_config_recursion_limit }}
  dbus_firewalld {{ foomuuri_config_dbus_firewalld }}
  nft_bin {{ foomuuri_config_nft_bin }}
}
