---
# tasks file for creature_comforts

- name: install creature comfort packages
  apt:
    name: '{{ comforts_packages_all }}'
    state: present

- name: install creatue comforts utility scripts
  copy:
    src: '{{ item }}'
    dest: '{{ comforts_scripts_install_dir }}/{{ item }}'
    mode: '0755'
    owner: root
    group: root
  loop: '{{ comforts_scripts_all }}'

- name: configured podman for clammy-ng
  include_tasks: install_podman.yml
  when: comforts_use_podman | default(false) | bool
  tags:
    - comforts_podman
